<p>Hallo <%= @item.owner_name %>,</p>

<p>du hast gerade auf Kaheim eine Nachricht zu deinem <%= @item.class.model_name.human %> "<%= link_to @item.title, @item %>" bekommen:</p>

<%= simple_format @content %>
