<div class='centered-content'>
  <%= image_tag 'banner-faecher-inverted.png', alt: 'Kaheim', class: 'img-responsive banner-welcome' %>
</div>

<div class="col-md-4 welcome-section">
  <a href='#offers'>
    <div class='centered-content'>
      <i class="fa fa-home welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Find a free room or create a new offer!
    </div>
  </a>
</div>
<div class="col-md-4 welcome-section">
  <a href='#requests'>
    <div class='centered-content'>
      <i class="fa fa-search welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Browse existing requests or create a new one!
    </div>
  </a>
</div>
<div class="col-md-4 welcome-section">
  <a href="<%= page_path('alternatives') %>">
    <div class='centered-content'>
      <i class="fa fa-lightbulb-o welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Nothing found? Read our hints for more alternatives.
    </div>
  </a>
</div>

