<h1>
  <div class='centered-content'>
  <%= image_tag 'banner-faecher-inverted.svg', alt: 'Kaheim', id: 'banner-welcome' %>
</div>
</h1>

<div class="col-md-4 welcome-section">
  <a href='#offers'>
    <div class='centered-content'>
      <i class="fa fa-home welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Finde ein freies Zimmer oder lege ein neues Angebot an!
    </div>
  </a>
</div>
<div class="col-md-4 welcome-section">
  <a href='#requests'>
    <div class='centered-content'>
      <i class="fa fa-search welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Schau Dir existierende Gesuche an oder erstelle ein Neues!
    </div>
  </a>
</div>
<div class="col-md-4 welcome-section">
  <a href="">
    <div class='centered-content'>
      <i class="fa fa-lightbulb-o welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Hier nicht fündig geworden? Schau mal in die Tipps zum Weitersuchen.
    </div>
  </a>
</div>

