<div class="hero-unit">
  <h1>JeKaWg</h1>
  <p>Loremwohnungsbörsenonlineplatzhaltertextheadlineipsumftw!!1!</p>
  <p>
    <%= link_to "offers", offers_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "requests", requests_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>