<div class="row">
  <div class="col-md-6">
    <%= render partial: 'offers/list', locals: {offers: @offers} %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'requests/list', locals: {requests: @requests} %>
  </div>
</div>