<div class="hero-unit">
  <h1>Wohnungsb&ouml;rse</h1>
  <p></p>
  <p>
    <%= link_to t(Offer.model_name.human count: 2), offers_path, :class => "btn btn-primary btn-large" %>
    <%= link_to t(Request.model_name.human count: 2), requests_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>