<%= render partial: 'shared/list_page_header', locals: { count: @requests.count, item: 'request'} %>
<div class="row">
  <div class="sort">
    <%= render partial: 'list', locals: {requests: @requests} %>
  </div>
</div>
