<div class="page-header">
  <h1>
    <%=t 'requests.list.title', count: @requests.count %>
    <%= link_to t('requests.new.title'), new_request_path, class: 'btn btn-primary' %>
  </h1>
</div>
<div class="row">
  <div class="col-md-12 sort">
    <%= render partial: 'list', locals: {requests: @requests} %>
  </div>
</div>