<h1><%= t('pages.item_created.headline') %></h1>

<div class="alert alert-success">
  <strong><%= t('pages.item_created.alert.strong', item_type: @item.model_name.human) %></strong> <br />
  <%= t('pages.item_created.alert.message', item_type: @item.model_name.human) %>
</div>

<p>
  <%= t('pages.item_created.message', item_type: @item.model_name.human) %>
</p>

