<h1>Fast geschafft!</h1>

<div class="alert alert-success">
  <strong>Dein <%= @item.model_name.human %> ist noch nicht öffentlich.</strong> <br />
  Verwende den Link, den wir dir gemailt haben, um das <%= @item.model_name.human %> zu aktivieren.
</div>

<p>
  Unter diesem Link kannst du dein <%= @item.model_name.human %> auch bearbeiten oder löschen, falls es nicht mehr aktuell ist.
</p>

