<div class="row top-spacing">
  <div class="col-sm-6 sperate-right">
    <h2><%=t 'devise.basic.sign_in' %></h2>
    <%= render partial: 'new' %>
  </div>
  <div class="col-sm-6">
    <h2><%=t 'devise.basic.sign_up' %></h2>
    <%= render partial: 'devise/registrations/new' %>
  </div>
</div>
