<p>Hallo,</p>

<p>Du hast gerade ein Abonnement für Benachrichtigungen für neue <%=
    if @subscription.offers && @subscription.requests
      'Angebote und Gesuche'
    elsif @subscription.offers
      'Angebote'
    else
      'Gesuche'
    end %> auf Kaheim angefordert.
Um Deine E-Mail-Adresse zu bestätigen und das Abonnement zu aktivieren, klicke bitte auf diesen
  <%= link_to 'Link', subscriptions_confirm_url(@subscription.confirmation_token, :protocol => "https") %>.</p>

<p>Um Dich davon wieder abzumelden, klicke auf diesen
  <%= link_to 'Link', subscriptions_unsubscribe_url( @subscription.subscribed_types, @subscription.unsubscribe_token, :protocol => "https") %>.</p>