<p>Hallo,</p>

<% if @subscription %>
<p>Du hast Dich soeben für Dein Abonnement von neuen <%= @subscription.requests ? 'Angeboten' : 'Gesuchen' %> auf Kaheim abgemeldet.</p>
<p>Benachrichtigungen über neue <%= @subscription.offers ? 'Angebote' : 'Gesuche' %> erhältst Du weiterhin. Um Dich auch davon abzumelden, klicke auf diesen
  <%= link_to 'Link', subscriptions_unsubscribe_url( @subscription.subscribed_types, @subscription.unsubscribe_token) %>.</p>
<% else %>
  <p>Du hast Dich soeben für Dein Abonnement von Kaheim abgemeldet und erhältst in Zukunft keine Benachrichtigungen über neue Einträge mehr.</p>
<% end %>
