div[data-link] {
  cursor: pointer;
}

.item, .request, .offer {
  width: auto;
  height: auto;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  box-shadow: 5px 5px 10px #D3D3D3;
  border-top-left-radius: 10px 10px;
  border-bottom-right-radius: 25px 25px;

  &:hover {
    background-color: #F9F9F9;
    box-shadow: 6px 6px 12px #C3C3C3;
  }

  .titel {
    float: left;
    width: auto;
    height: auto;
    text-align: left;
    strong {
      font-size: 24pt;
      a {
        color: black;
      }
    }
  }

  .until {
    float: right;
    width: auto;
    height: auto;
    text-align: right;
    strong {
      font-size: 16pt;
    }
    padding-top: 5px;
  }

  .description {
    width: auto;
    padding: 5px;
    padding-top: 15px;
    clear: both;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-bottom: none;
    text-align: left;
    .long, .short {
      cursor: pointer;
    }
  }

  .contact {
    width: auto;
    height: auto;
    padding: 5px;
    clear: both;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-top: none;
    text-align: right;
    border-bottom-right-radius: 10px 10px;

    .inline-button {
      color: #0088CC;
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #005580;
      }
    }
  }
}

.long {
  display: none;
}

ul.nav.pull-right li.language a {
  padding-left: 5px;
  padding-right: 5px;
}


html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}

#main {
  padding-top: 50px;
  overflow:auto;
  padding-bottom: 180px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  padding: 30px 0px;
  margin-top: -140px;
  clear: both;

  text-align: center;
  border-top: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  p {
    margin-bottom: 0;
    color: #777;
  }
}