div[data-link] {
  cursor: pointer;
}

.item, .request, .offer {
  width: auto;
  height: auto;
  padding: 15px;
  margin-bottom: 22px;
  border-top: 1px solid #d0d0d0;

  .titel {
    clear: both;
    width: auto;
    height: auto;
    text-align: left;
    strong {
      font-size: 18pt;
      a {
        color: black;
      }
    }
  }

  .specifics {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .label {
      margin: 0 2px;
    }

    .label.gender {
      background-color: #acd9ff;
      color: #000000;
    }

    .label.money {
      background-color: #ffd355;
      color: #140004;
    }

    .label.space {
      background-color: #dcb77e;
      color: #090002;
    }

    .label.time {
      background-color: #b2ff8b;
      color: #140004;
    }
  }

  .description {
    width: auto;
    padding: 5px;
    margin-top: 10px;
    clear: both;
    border-bottom: none;
    text-align: left;
  }

  .until {
    float: left;
    width: auto;
    height: auto;
    text-align: left;
    strong {
      font-size: 16pt;
    }
    padding-top: 5px;
  }

  .contact {
    bottom: 0;
    width: auto;
    height: auto;
    padding: 5px;
    float: right;
    border-top: none;
    text-align: right;

    .inline-button {
      color: #0088CC;
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #005580;
      }
    }
  }
}

.long {
  display: none;
}

ul.nav li.language a {
  padding-left: 5px;
  padding-right: 5px;
}


html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}

#main {
  padding-top: 60px;
  overflow:auto;
  padding-bottom: 180px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  padding: 30px 0px;
  margin-top: -140px;
  clear: both;

  text-align: center;
  border-top: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  p {
    margin-bottom: 0;
    color: #777;
  }
}