@media all and (min-width: 768px) {
  #main {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    overflow:auto;
    min-height: 450px;
  }

  .top-spacing {
    margin-top: 100px;
  }

  .sperate-right {
    border-right: 1px solid #777;
  }
}

@media all and (max-width: 768px) {
  #main {
    padding-top: 60px;
    overflow:auto;
    min-height: 475px;
  }

  .top-spacing {
  }

  .sperate-right {
  }
}

html, body {
  height: 100%;
}

.header-message {
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 22px;

  &.center {
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
  }
}

div[data-link] {
   cursor: pointer;
 }

ul.nav li.language a {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

#wrap {
}

.sort-trigger {
  width: 100%;
  text-align: right;
}

#sort-button {
  margin-bottom: -17px;
  z-index: 100;
}

#backdrop {
  width: 100%;
  margin-top: 25px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  color: #777;
  height: 20px;
}

.footer {
  position: relative;
  bottom: 0px;
  padding: 20px 0px;
  clear: both;

  text-align: center;
  border-top: 1px solid #bcbcbc;
  background-color: #F5F5F5;
  p {
    margin-bottom: 0;
    color: #777;
  }
  div.groups {
    margin-bottom: 20px;
    img {
      margin: 15px 30px;
    }

    a {
      text-decoration: none;
    }
  }
}

div.js-content {
  display: none;
}

.banner-welcome {
  margin: 50px auto 30px;
}

.welcome-section {
  margin-top: 50px;
  max-width: 223px;
  margin-left: auto;
  margin-right: auto;
  a {
    color: #333;
  }
  a, a:hover, a:active, a:focus {
    color: #222;
    text-decoration: none;
  }

  .centered-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .welcome-icon {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }
}

.welcome-list-header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  border-top: 1px solid #b6b6b6;
  margin: 58px -15px 20px;
}

#kaheim-features {
  $padding-left: 3.5em;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: $padding-left;
    padding-bottom: 5px;
  }
  li:before {
    content: "\2026\00a0";
    display: inline-block;
    margin-left: -$padding-left;
    width: $padding-left;
    text-align: right;
  }
}