@mixin insert-content {
  .titel {
    float: left;
    width: auto;
    height: auto;
    text-align: left;
    strong {
      font-size: 24pt;
    }
  }

  .until {
    float: right;
    width: auto;
    height: auto;
    text-align: right;
    strong {
      font-size: 16pt;
    }
  }

  .description {
    width: auto;
    padding: 5px;
    padding-top: 15px;
    clear: both;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-bottom: none;
    text-align: left;
  }

  .contact {
    width: auto;
    height: auto;
    padding: 5px;
    clear: both;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-top: none;
    text-align: right;
    border-bottom-right-radius: 10px 10px;

    .inline-button {
      color: #0088CC;
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #005580;
      }
    }
  }
}

.description.shorten {
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}