.edit {
  width: auto;
  height: auto;
  padding: 15px;
  margin-bottom: 22px;
  border-top: 1px solid #d0d0d0;

  .title {
    width: 100%;

    .short-description {
      width: 100%;
      height: 70px;
    }

    textarea {
      width: 90%;
    }

    .input-group-addon {
      width: 10%;
    }
  }

  .info {
    margin: 5px;

    .gender {
      margin-bottom: 15px;
      width: 100%;

      a {
        color: #333;

        &.dontcare {
          color: lightgrey;
        }
      }

      span {
        &.dontcare {
          color: lightgrey;
        }
      }

      .dropdown-menu-auto {
        left: auto;
        right: auto;
      }

      #gender-select-button {
        padding:4px 12px;
        color:black;
        width:62px;
      }

      .dropdown-menu {
        min-width: 50px;
      }
    }

    .rent {
    }
    .size {
    }
  }

  .date {
    margin: 5px;
    select {
      float: left;
      width: auto;
      margin-bottom: 0px;
      display: block;
      font-size: 14px;
      color: #555;
      background-color: #FFF;
      border: none;
    }
  }

  .location {
    margin: 5px;
    clear: both;
  }

  .description {
    margin: 5px;
    width: 100%;
    textarea {
      width: 100%;
      height: 350px;
    }
  }

  .explanation {
    .icon {
      font-size: 32pt;
    }
  }

  .form-group select {
    margin-top: -3px;
    margin-bottom: 3px;
  }
}