div.button {
  width: 200px;
  height: 200px;
}

@mixin centered($height, $width) {
  width: $width;
  height: $height;
  margin-left: auto;
  margin-right: auto;
}

@mixin stretched {
  width: 100%;
  height: auto;
  clear: both;
  position: relative;
}

div.upper_bar {
  @include stretched;
  position: fixed;
  z-index: 100;
  width: 94%;
  padding: 5px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 2px solid #3b2823;
  background-color: #eee;
  opacity: 0.9;
  text-align: right;
}

div.header {
  @include stretched;
  z-index: 50;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #4dabd2;

  .center {
    @include centered(200px, 400px);

    a {
      color: #02183f;
      font-weight: bolder;
      font-size: 16pt;

      &:hover {
        color: inherit;
      }
    }

    .left_button {
      @extend .button;
      float: left;
      background-image: url("/images/request.png");
    }

    .right_button {
      @extend .button;
      float: right;
      background-image: url("/images/offer.png");
    }
  }
}

div.notice {
  @include stretched;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 50;
  color: #eee;
  background-color: #3b2823;
}

div.content {
  @include stretched;
  z-index: 50;
  padding-top: 35px;
  color: #333;
  background-color: #8acc43;

  .center {
    @include centered(auto, 60%);
  }
}