.item {
  width: auto;
  height: auto;
  padding: 15px;
  margin-bottom: 22px;
  border-top: 1px solid #d0d0d0;

  .title {
    clear: both;
    width: auto;
    height: auto;
    text-align: left;
    strong {
      font-size: 16pt;
      a {
        color: #333;
      }
      a:hover {
        text-decoration: none;
        color: #222;
      }
    }
  }

  table.offer-specifics {
    height: auto;
    width: auto;
    margin-top: 5px;
    font-weight: bold;
    color: #5f6264;

    tr {
      td {
        &.icon {
          text-align: right;
          width: 30px;
          padding-right: 8px;
        }
        &.info {
          text-align: left;
          width: 100px;
          &:last-child {
            width: auto;
          }
        }

        &.address {
          padding-top: 10px;
        }
      }
    }
  }

  table.request-specifics {
    height: auto;
    width: auto;
    margin-top: 5px;
    font-weight: bold;
    color: #5f6264;

    tr {
      td {
        &.gender {
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }

        &.time {
          padding-left: 4px;
          text-align: left;
          width: 200px;
        }
      }
    }
  }

  .description {
    width: auto;
    clear: both;
    border-bottom: none;
    text-align: left;
  }

  .until {
    float: left;
    width: auto;
    height: auto;
    text-align: left;
    strong {
      font-size: 16pt;
    }
    padding-top: 5px;
    padding-bottom: 15px;
  }


  &:hover {
    .contact, .request-edit-link, a {
      color: #428BCA;
    }

    .contact span, .request-edit-link span {
      color: #333;

      &.label {
        color: #fff;
      }
    }
  }

  .contact, .request-edit-link {
    bottom: 0;
    width: auto;
    height: auto;
    padding: 5px;
    float: right;
    border-top: none;
    text-align: right;
    color: #b3cff5;

    a {
      color: inherit;
      display: inline-block;
      text-decoration: none;
    }

    span {
      color: #bbb;

      &.label {
        color: #fff;
      }
    }

    .inline-button {
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #005580;
      }
    }
  }
}

.long {
  padding: 5px;
  padding-left: 0px;
  margin-top: 8px;
  display: none;
}

.short {
  padding: 0px;
  margin-top: 0px;
}

.answers {
  padding-left: 10px;
  p {
    padding-left: 10px;
  }
}